@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center;">
        <a>Welcome to BVLG!</a>
    </h1>
    <p class="lead" style="text-align: center;">
        An application built to help both service providers and those who need one!
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application is looking for make the life easier for those who encounter
            a problem at their home and promote people who provide services.
            First thing you have to do is to create a new account or login if you have one.
            After that, the application will help you to resolve your problem.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Providing services</h2>
        <p>
            After creating an account, if you provide one or more services, you will find a
            button to post an announce. You have to specify your location and a phone number.
            Good luck!
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Searching for a service</h2>
        <p>
            Do you have a problem? You are in the best place. If you need an plumber, for example, you
            just have to search for him here. We can found a solution for every type of problem.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>